.App {
  text-align: center;
}

.App-header {
  height: 60px;
  background-color: #424242;
  width: 100%;
  position: fixed;
  z-index: 20;
  top: 0;
}

.header-logo {
  position: relative;
  background-color: #ee3124;
  background-image: url(img/lord-white.png);
  background-position: 20% center;
  background-repeat: no-repeat;
  height: 60px;
  width: 300px;
  z-index: 10;

  clip-path: polygon(0 0, 300px 0, 250px 60px, 0 60px)
}

